<!doctype html>
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
</head>
<body>
  <div id= "back"></div>
  <div id = "whitespace"></div>
  <div id = "shelf">
    <div id = "titles">
      <span class = "title"> A.V.C.S. </span>
      <span class = "subtitle">Art Version Control System</span>
      <span class = "chrome" style="visibility:hidden"> Chrome </span>

      <br>

      <nav class="uk-navbar-container" uk-navbar>
          <div class="uk-navbar-left">
              <ul class="uk-navbar-nav">
                  <li ><a href="library.html">LIBRARY</a></li>
                  <li class="uk-active">
                  <a id="pagename" href="#"></a>
                <div id= "viewoptions"class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li id="viewMode" class="uk-active"><a onclick="setViewMode()" href="#">View Mode</a></li>
                        <li id="editMode" ><a onclick="setEditMode()" href="#">Edit Mode</a></li>
                    </ul>
                </div>
                </li>
              </ul>
          </div>
          <div class="uk-navbar-right">

              <ul class="uk-navbar-nav">
                <li id="search">
                    <form  class="uk-search uk-search-default">
                        <input class="uk-search-input" type="search" placeholder="Search...">
                    </form>
                </li>
                <li id="signin"><a uk-toggle="target: #sign" type="button" href="#">Sign in</a></li>
                <li id="signout"><a onclick="signout()" href="#">Sign out</a></li>
              </ul>

          </div>
      </nav>
      <div id="sign" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Sign up</a></li>
            </ul>

            <ul class="uk-switcher uk-margin">
                <li class="signing">
                  <form name="signingform" action="signin" id= "signingform" method="post" enctype="multipart/form-data">
                    <span>Username: </span><input type="text" name="username">
                    <br><br>
                    <span>Password: </span><input type="password" name="password">

                      <input   class='uk-button uk-button-primary' id="signinsub"type="submit" value ="Submit">
                  </form>
                  <button class="uk-modal-close uk-button uk-button-primary" onclick="clickSubmit()"type="button">Submit</button>
                </li>
                <li class="signing">
                  <form name="signupform" action="signup" id= "signupform" method="post" enctype="multipart/form-data">
                    <span>Username: </span><input type="text" name="username">
                    <br><br>
                    <span>Password: </span><input type="password" name="password">

                      <input   class='uk-button uk-button-primary' id="signinsubup"type="submit" value ="Submit">
                  </form>
                  <button class="uk-modal-close uk-button uk-button-primary" onclick="clickSubmitup()"type="button">Submit</button>
                </li>

            </ul>

          </div>
          </div>
      <div id="addContainer">
        <button class="uk-button uk-button-primary uk-margin-small-right" onclick="uploaderActivate()" type="button" >Upload File</button>

            <button id="deleteProjectButton" class="uk-button uk-button-danger uk-margin-small-right" uk-toggle="target: #modal-delete-project" type="button" >Delete Project</button>
      </div>

      <div id="modal-delete-project" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <h2 class="uk-modal-title">Delete Project</h2>
              <p> WARNING: This will delete your project perminately from your library.</p>
                  <button class="uk-button uk-button-danger uk-margin-small-right" onclick="deleteProject()" type="button" >Confirm Delete Project</button>

          </div>
      </div>
      <div class= "uploadSpace3">
        <form id ="filer" class="uploadForm"  action="/" method="post" enctype="multipart/form-data">
          <input type="file" id = "uploader" class = "fileup"name="filetoupload" onchange="submit()">
          <br>
        </form>
      </div>
    </div>
    <div id= "topspacer"></div>
    <ul  id="versions" class= "uk-list uk-list-striped versions"></ul>
  </div>
  <div id="modal-delete-version" uk-modal></div>
</body>





<script>
  function signout(){
    $.get("/signout").done(function(data){

      window.location.href = "library.html";

    });
  }
$('.subtitle').mouseover(function() {
  $('.chrome').css("visibility","visible");
});

$('.subtitle').mouseout(function() {
  $('.chrome').css("visibility","hidden");
});

function setEditMode(){

  var editMode = document.getElementById("editMode");
  editMode.className = "uk-active";
  var viewMode = document.getElementById("viewMode");
  viewMode.className = "";
  var deleteProjectButton = document.getElementById("deleteProjectButton");
  deleteProjectButton.style.cssText = "display: inline;"
  var deleteFileButtons = document.getElementsByClassName("deleteButton");
  for(i=0;i < deleteFileButtons.length; i++){
    console.log("hiding");
    deleteFileButtons[i].style.cssText = "display: inline !important;"
  }
}
function setViewMode(){
  var viewMode = document.getElementById("viewMode");
  viewMode.className = "uk-active";
  var editMode = document.getElementById("editMode");
  editMode.className = "";
  var deleteProjectButton = document.getElementById("deleteProjectButton");
  deleteProjectButton.style.cssText = "display: none;"
  var deleteFileButtons = document.getElementsByClassName("deleteButton");
  for(i=0;i < deleteFileButtons.length; i++){
    console.log("hiding");
    deleteFileButtons[i].style.cssText = "display: none !important;"
  }
}

function clickSubmit(){
  var upfile = document.getElementById("signinsub");
  upfile.click();
}


console.log("running");
const urlParams = new URLSearchParams(window.location.search);
const folder = urlParams.get("file");

//populating version list
$.get("/getinfo?file="+folder).done(function(data){
  info = data["info"];
  $("#pagename").append(data["name"]);
  document.getElementById("filer").action = "fileupload?name="+data["name"];
  for(i = 0; i < info.length; i++){
    var extension = info[i]["extension"];
    if(extension == "psd"){
      extension = "png";
    }
    path = folder+"/"+info[i]["version"]+".";
    var list1 = "<li class= 'version'><img src='/files/"+path+extension+"' height='300' width='auto'>";
    var date= new Date(parseInt(data["info"][(i).toString()]["date"]));
    var list2 = "<br><br><span class='infotitle'>Version: </span><span> "+info[i]["version"]+"</span><br><br>";
    var list3 = "<span class='infotitle'>Date Uploaded: </span><span>"+date+"</span><br><br>";
    var nsdate = date.toString().split(" ").join("");
    var list4 = "<button class='uk-button uk-button-default' onclick=downloadFile('"+path+info[i]["extension"]+"','"+folder+"','.v"+info[i]["version"]+".d"+nsdate+"."+info[i]["extension"]+"')>DOWNLOAD</button>"
    var list5 =  '<button class="uk-button uk-button-danger uk-margin-small-right deleteButton" type="button" uk-toggle="target: #modal-delete-version" onclick="setModal('+info[i]["version"]+','+info[i]["id"]+')">Delete</button></div>';
    $("#versions").append(list1+list2+list3+list4+list5);
  }
});
function setModal(version, id){
  var content = '<div class="uk-modal-dialog uk-modal-body"><button class="uk-modal-close-default" type="button" uk-close></button><h2 class="uk-modal-title">Delete Verson</h2><p> WARNING: This will delete this version perminately from your project.</p>  <button class="uk-button uk-button-danger uk-margin-small-right" onclick="deleteFile('+version+','+id+')" type="button" >Delete</button>'
  $("#modal-delete-version").append(content);
}
$.get("/getaccount").done(function(data){
  if(data.account != -1 && data.account){
    console.log(data);
    var siginbutton = document.getElementById("signin");
    siginbutton.style.cssText = "display: none;"
    var sigoutbutton = document.getElementById("signout");
    sigoutbutton.style.cssText = "display: inline;"
    var addContainer = document.getElementById("addContainer");
    addContainer.style.cssText = "display: inline;"
  } else {
    var siginbutton = document.getElementById("signin");
    siginbutton.style.cssText = "display: inline;"
    var sigoutbutton = document.getElementById("signout");
    sigoutbutton.style.cssText = "display: none;"
    var addContainer = document.getElementById("addContainer");
    addContainer.style.cssText = "display: none;"
  }
});
$.get("/verifyaccount?id="+folder).done(function(data){
  console.log(data);
  if(!data["verification"]){
    var viewoptions = document.getElementById("editMode");
    viewoptions.style.cssText = "display: none !important;"
    var addcon = document.getElementById("addContainer");
    addcon.style.cssText = "display: none;"
  } else {
    var viewoptions = document.getElementById("editMode");
    viewoptions.style.cssText = "display: inline;"
    var addcon = document.getElementById("addContainer");
    addcon.style.cssText = "display: inline;"
  }
});

function clickSubmit(){
  var uprfile = document.getElementById("signinsub");
  uprfile.click();
}
function clickSubmitup(){
  var upgfile = document.getElementById("signinsubup");
  upgfile.click();
}
function deleteFile(version, id){
  const data = {
    version: version, id: id
  }
  $.post("/deletefile",data,function(data, status){
    console.log("file deleted");
  });
}
function deleteProject(){
  const id = urlParams.get("file");
  console.log("deleting ",id);
  const data = {
     id: id
  }
  $.post("/deleteproject",data, function(data, status){
    console.log("project deleted");
  });
}
function downloadFile (path,name,dateversion){
  console.log("download intiated",info[0]["extension"]);
  window.open("/download?file="+path+"&name="+name+"&dateversion="+dateversion);
}
$("#uploader").onchange = function(){
  console.log("submitting");
 document.getElementById("filer").submit();
};
function uploaderActivate(){
    var upfile = document.getElementById("uploader");
    upfile.click();
}
</script>
