<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
</head>
<body>
  <div id= "back"></div>
  <div id = "whitespace"></div>
  <div id = "shelf">
    <div id = "titlesNew">
      <span class = "title"> A.V.C.S. </span>
      <span class = "subtitle">Art Version Control System</span>
      <br>
      <nav class="uk-navbar-container" uk-navbar>
          <div class="uk-navbar-left">

              <ul class="uk-navbar-nav">
                  <li ><a href="library.html">LIBRARY</a></li>
                  <li class="uk-active"><a href="newProject.html">ADD PROJECT</a></li>
              </ul>

          </div>
      </nav>
    </div>
    <div id= "topspacer"></div>
    <div id="progUploadCon">
      <form name="progform" action="progupload" id= "progUpload" method="post" enctype="multipart/form-data">
        <span>Project Name: </span><input type="text" name="progname"> <br> <span id='prognameguide'>Project name must contain no spaces.</span><br>
        <span>Project File: </span>
        <div class= "uploadSpace2">
          <span class= "fileUpload">UPLOAD FILE</span>
          <input id = "uploader"class="uploadForm" type="file" name="filetoupload">
        </div>
        <span id="checker"></span>
        <br> <span id='prognameguide'>Project file should be initial version of project</span>

        <br> <br>
        <div id="submit">
          <input  id="submitter"type="submit" value ="Submit">
        </div>
      </form>
    </div>
  </div>
</body>
<script>
var up = document.getElementById("uploader");
up.onchange = function(){
  console.log(document.progform.filetoupload.value);
  var filename = document.progform.filetoupload.value
  document.getElementById("checker").innerHTML = filename.split("\\")[2];
};
</script>
